*{
    font-family: 'bebas';
}
body{
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.element.style {
    margin-top: 6%;
}

#qrcode{
    /* margin-top: auto; */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 15px 15px 5px rgba(0, 0, 0, 0.2);
}

#text {
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    font-size: 2.5rem;
    height: 50px;
    margin-top: 6px;
    /* margin-bottom: 6px; */
    width: 98%;
    display: flex;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 15px 15px 5px rgba(0, 0, 0, 0.2);
}

#btn {
    display: block;
    top: 9.7%;
    left: 71.5%;
    border: Dotted 2px rgb(255, 0, 0);
    border-radius:5px;
    color: rgb(255, 0, 0);
    height: 5%;
    width: 20%;
    background-color: transparent;
    font-size: 1.4rem;
    cursor: pointer;	
    /* box-shadow: 1px 1px #00AA ; */
}

#btn:hover{
    outline: none;
    background-color: rgba(255, 6, 6, 0);
    border-color: rgb(255, 0, 0);
    
}
#btn:focus{
    outline: none;
}
#print {
    display: block;
    top: 9.7%;
    left: 40.5%;
    border: Dotted 2px rgb(255, 0, 0);
    border-radius:5px;
    color: rgb(255, 0, 0);
    height: 5%;
    width: 20%;
    background-color: transparent;
    font-size: 1.4rem;
    cursor: pointer;	
}
#print:focus {
    outline: none;
}
#print:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(255, 0, 0);
    
}

#generate {
    display: block;
    margin-top: -35%;
    border: Dotted 2px rgb(255, 0, 0);
    border-radius:5px;
    color: rgb(255, 0, 0);
    text-align: center;
    height: 5%;
    width: 20%;
    background-color: transparent;
    font-size: 1.4rem;
    cursor: pointer;	
    /* box-shadow: 1px 1px rgb(58, 201, 117) ; */
}
#generate:hover{
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(255, 0, 0);
    
}
#generate:focus{
    outline: none;
}
p {
    display: block;
    position: absolute;
    top: 10%;
    font-size: 280%;
    text-shadow: 20px 15px 15px 5px rgba(0, 0, 0, 0.2);
}
#generate, #print, #btn {
    padding: 10px;
    margin-bottom: 35px;
    margin-left: 75%;
}

#generate:hover, #print:hover, #btn:hover{
    box-shadow: 20px 15px 15px 5px rgba(0, 0, 0, 0.2);
}
a {
    text-decoration: none;
}